:root{
    --bg-color: #ffffff;
    --text-color: black;
}

.body {
    background: var(--bg-color);
    color:var(--text-color);
}

.header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4px 2rem; /* Added padding to control container width */
    background: var(--bg-header);
    align-items: center;
    z-index: 100;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    
}

.navbar {
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 7rem; 
}

.navbar a {
    font-size: 20px;
    color: var(--text-color);
    font-weight: 600;
    transition: .3s;
    text-decoration: none;
}

.navbar a:hover {
    color: rgb(113, 133, 249);
}

.nav-v2 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
}

.nav-v2-2 {
    display: flex;
    gap: 1rem;
}

.btn2 {
    font-size: 15px;
    font-weight: 800;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn2:hover {
    background-color: #2980b9;
}

.btn-secondary {
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
}

.container {
    background-color: #c1e5ef;
    box-shadow: 5px grey;
    
    
    margin-bottom: 20px;
}
